<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
                                Menu
        {% endblock title %}
    </title>
</head>
<body>
<header>
    <nav>
        <div>
            <h1>{% block header %}

                {% endblock header %}</h1>
        </div>
    </nav>
</header>
<div>
        <h2 class="logo"><a href="{% url 'platform' %}"><div class="logo">Главная</div></a></h2>
        <h2 class="logo"><a href="{% url 'games' %}"><div class="logo">Магазин</div></a></h2>
        <h2 class="logo"><a href="{% url 'cart' %}"><div class="logo">Корзина</div></a></h2>
</div>
<div>{% block contents %}

    {% endblock contents %}</div>
</body>
</html>

