<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
<h1>Игры</h1>
<ul>
    <li>
        <h3>
            Atomic Heart
            <button>
                    Купить
            </button>
        </h3>
    </li>
    <li>
        <h3>
            Cyberpunk 2077
                <button>
                        Купить
                </button>
        </h3>
    </li>
    <li>
        <h3>
            Payday 2
                <button>
                        Купить
                </button>
        </h3>
    </li>
</ul>
<br>
<form action="/platform">
    <button>
        Вернуться обратно
    </button>
</form>
</body>
</html>